/* Enter your Styles below! */
body {
	background-image: url(../images/website-background-b.png);
	background-size:cover;
	background-repeat: no-repeat;
}



a {
	text-decoration: none;
}

nav ul{
	list-style-type: none;
	color:pink;
}

nav li{
	font-family: 'Varela Round', sans-serif;
	display: inline-block;
	font-size:24px;
	color: pink;
	margin-top: 45px;	
	text-align: center;
}

nav{
	display: grid;
	grid-template-columns: 30% 570%;	
}

h1{
	font-family: 'Varela Round', sans-serif;
	color:#FF3925;
	font-size: 60px;
	font-weight: bold;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color:black;
	padding:20px;	
	margin-left:30px;
	font-weight: bold;	
}

ul.bottom-list {
	list-style-type:none;
	font-family: 'Varela Round', sans-serif;
	display: inline-block;
	font-size: 10px;
	color:003333;
	width: 100%;
	padding-bottom: 20px
}

li{
	font-family: 'Varela Round', sans-serif;
	display: inline-block;
	margin-left: 40px;
	font-size:24px;
	padding-left: 130px;
}

div{
	float: right;
}

img {
	height: 100%;
	width: 100%;
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


h2{
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 26px;	

}

p{
	font-family: 'Nunito', sans-serif;

}

footer{
	text-align: center;
	font-family: 'Varela Round', sans-serif;
}



hr{
	 border: 3px solid red;
}

img.sushi-one{
	float:left;
	margin:4%;
}