/* Enter your Styles below! */
body {
	background-image: url(../images/website-background-b.png);
	background-size:cover;
	background-repeat: no-repeat;
}



a {
	text-decoration: none;
}

nav ul{
	list-style-type: none;
	
}

nav li{
	font-family: 'Varela Round', sans-serif;
	display: inline-block;
	font-size:20px;
	color:white;
	margin-top: 45px;	
	text-align: center;
}

nav{
	display: grid;
	grid-template-columns: 30% 570%;	

}

h1{
	font-family: 'Varela Round', sans-serif;
	color:#FF3925;
	font-size: 60px;
	font-weight: bold;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color:black;
	padding:20px;	
	margin-left:30px;
	font-weight: bold;	
}

ul.bottom-list {
	list-style-type:none;
	font-family: 'Varela Round', sans-serif;
	display: inline-block;
	font-size: 10px;
	color:003333;
	width: 100%;
	padding-bottom: 20px
}

li{
	font-family: 'Varela Round', sans-serif;
	display: inline-block;
	margin-left: 40px;
	font-size:24px;
	padding-left: 130px;
}

div{
	float: right;
}

img {
	height: 100%;
	width: 100%;
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


h2{
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 26px;	

}

p{
	font-family: 'Nunito', sans-serif;

}

footer{
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	padding: 40px 40px;
}



hr{
	 border: 3px solid red;
}

p.about{
	font-family: 'Varela Round', sans-serif;
	text-indent: 3%;
	padding-top:50px;
	margin-left: 30px;	
	margin-right: 30px;

}

p.about-two{
		font-family: 'Varela Round', sans-serif;
	text-indent: 3%;
	padding-bottom:50px;
	margin-left: 30px;	
	margin-right: 30px;
	}

img.menu{
	padding-bottom:50px;
	padding-top:50px;
	
}

img.sushi-one{
	float:left;
	margin:4%;
}

img.home{
	max-width: 90%
	max-height:90%;
}

div.grid-item{
	float:right;
	padding-top: 80px;
}

section{
	display:grid;
	grid-template-columns:50% 50%
}
