/* Enter your Styles below! */
body {
	background-image: url(../images/website-background-b.png);
	background-size:cover;
	background-repeat: no-repeat;
}



a {
	text-decoration: none;
}

nav ul{
	list-style-type: none;
	justify-content: right;
	
}

nav li {
	font-family: 'Varela Round', sans-serif;
	display: inline-block;
	font-size:20px;
	color: #FF3925;
	margin-top: 45px;	
	text-align: center;
	margin: 0;
}

nav a {color: #FF3925;}

nav{
	display: grid;
	grid-template-columns: 40% 60%;	
}

nav h1 img {
	margin: 0;
	width: 80px;
	display: inline-block;
	margin-right: 10px;
}
h1{
	font-family: 'Varela Round', sans-serif;
	color:#FF3925;
	font-size: 60px;
	font-weight: bold;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color:black;
	padding:20px;	
	margin-left:30px;
	font-weight: bold;
}
ul a{color: #FF3925;}

ul.bottom-list {
	list-style-type:none;
	font-family: 'Varela Round', sans-serif;
	display: inline-block;
	font-size: 10px;
	color:003333;
	width: 100%;
	padding-bottom: 20px
	padding-top:20px;
}

li{
	font-family: 'Varela Round', sans-serif;
	display: inline-block;
	margin-left: 40px;
	font-size:24px;
	padding-left: 130px;
	padding-top: 30px;
}

div{
	float: right;
}

img {
	width: 100%;
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


h2{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 26px;	
	margin-bottom: 4px;

}

p{
	font-family: 'Raleway', sans-serif;

}

footer{
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	padding: 40px 40px;
}



hr{
	 border: 3px solid red;
}

p.about{
	font-family: 'Varela Round', sans-serif;
	text-indent: 3%;
	padding-top:50px;
	margin-left: 200px;	
	margin-right: 200px;
}

p.about-two{
		font-family: 'Varela Round', sans-serif;
	text-indent: 3%;
	padding-bottom:50px;
	margin-left: 200px;	
	margin-right: 200px;
	}

img.menu{
	padding-bottom:50px;
	padding-top:50px;
	
}

img.sushi-one{
	float:left;
	margin:4%;
	padding-left: 20px;
}

img.home{
	max-width: 90%
	max-height:90%;
}

div.grid-item{
	float:right;
	padding-top: 80px;
	padding-left: 80px;
}

section{
	display:grid;
	grid-template-columns:50% 50%
}

div.image{
padding-bottom: 30px;
}

.grid-item{
	padding-left: 100px
	padding-top: 40px;
	padding-right: 40px;
}

.grid-item .sushi-one{
	height:80%;
	width: 80%;
	padding-left: 100px;
}

.grid-item .sushi-two{
	height:80%;
	width: 80%;
	padding-left: 100px;
	
}

.grid-item .sushi-three{
	height:80%;
	width: 80%;
	padding-left: 100px;
	
}

.grid-item .sushi-four{
	height:80%;
	width: 80%;
	padding-left: 100px;
	
}
